@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: black;
}

body {
 /* @apply flex items-center justify-center min-h-screen m-0 bg-gray-900;*/
}

h1 {
  @apply text-5xl leading-tight;
}

button {
  @apply rounded-lg border-transparent px-3 py-2 text-base font-medium cursor-pointer transition-colors;
  background-color:white;
}

button:hover {
  border-color:black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color:white
  }
  a:hover {
    color:black;
  }
  button {
    background-color: green;
  }
}

.login-container {
  @apply w-full max-w-md p-8 bg-gray-100 rounded-lg shadow-md;
}

.login-container h2 {
  @apply text-3xl text-center text-gray-800 mb-6;
}

.login-container label {
  @apply block text-sm font-medium text-gray-700;
}

.login-container input {
  @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.login-container .error {
  @apply text-red-500 text-sm mt-2;
}
